@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto-Regular.ttf')  format('truetype'),
}
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
body {
    height: 100%;
    margin: 0;
}
.navbar{
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 44px;
    background-color: #1F2229;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.form-floating{
    display: flex;
    flex-grow: 1;
}
.navbar-container{
    padding-right: 12px;
    padding-left: 12px;
    width: 824px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}
.navbar-brand{
    width: 87px;
    height: 24px;
    left: 142px;
    top: 12px;
    margin-right: 20px;
    background: url(assets/logo-light.png);
}
.nav-link{
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.wrapper{
    max-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #FAF6F6;
}
.btn-row {
    padding-bottom: 28px;
}
.calc-title{    
    text-align: center;
    padding-top: 85px;
    padding-bottom: 30px;
    color: #1F2229;
    font-size: 36px;
    line-height: 42px;
}
.calc-desc{
    text-align: center;
    line-height: 14px;
    color: #1F2229;
}

.form-wrapper{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 72px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    flex: 0 0 auto;
    width: 100%;
}
.input-group{
    display: flex;
    flex-wrap: nowrap;
    height: 52px;
    position: relative;
}
.col-6 + .col-6{
    margin-top: 38px;
}

.col-12{
    flex: 0 0 auto;
    width: 100%;
}
.input-group-check {
    align-items: center;
}
.input-group input[type=text]{
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group input[type=text] + label{
    position: absolute;
    top: 0;
    padding: 1.5rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.input-group select{
    height: 100%;
    padding: 5px;
    border-left-width: 0;
}
.form-check-input{
    margin: 0px 15px 0px 0px;
    width: 25px;
    height: 25px;
    
}
.input-group .form-control {
    padding: 18px 18px;
  }
  .input-group .form-control::-moz-placeholder {
    color: transparent;
  }
  .input-group .form-control::placeholder {
    color: transparent;
  }
  .input-group .form-control:not(:-moz-placeholder-shown) {
    padding-top: 27px;
    padding-bottom: 9px;
  }
  .input-group .form-control:focus, .input-group .form-control:not(:placeholder-shown) {
    padding-top: 27px;
    padding-bottom: 9px;
  }
  .input-group .form-control:-webkit-autofill {
    padding-top: 27px;
    padding-bottom: 9px;
  }
  .input-group .form-control:not(:-moz-placeholder-shown) ~ label {
    transform: translateY(-0.8rem) translateX(0.15rem);
  }
  .input-group .form-control:focus ~ label,
  .input-group .form-control:not(:placeholder-shown) ~ label,
  .input-group .form-select ~ label {
    transform: translateY(-0.8rem) translateX(0.15rem);
  }
  .input-group .form-control:-webkit-autofill ~ label {
    transform: translateY(-0.8rem) translateX(0.15rem);
  }

.row + .row{
    margin-top: 38px;
}

.btn-calc{
    width: 172px;
    height: 52px;
    background: #33C4A0;
    border: 1px solid #33C4A0;
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 0.5rem;
    color: white;
}
.btn-calc:hover{
    background: #39dab1;
}
.btn-calc:active{
    background: #35e9bc;
}
#calc-result-row{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
}
#calc-result-row hr{
    margin-bottom: 28px;

}
.result-title{
    padding-left: 15px;
    padding-bottom: 12px;
}
.result{
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    padding-left: 15px;
    display: flex;
}
#calc-result{
    padding-left: 15px;
}
.is-valid{
    border: 1px solid #33C4A0;
}
.is-invalid{
    border: 1px solid #FF5A5F;
}
.invalid-feedback{
    padding-left: 41px;
    padding-right: 41px;
    color: #dc3545;
    padding-top: 5px;
    position: absolute;
    max-width: 242px;
}
input:focus{
    outline: none;
}

@media (min-width: 768px) {
    .col-6
    {
        width: 50%;
    }
    .input-group
    {
        max-width: 242px;
        padding-left: 41px;
        padding-right: 41px;
    }
    .col-6 + .col-6
    {
        margin-top: 0;
    }
    .form-wrapper
    {
        padding-left: 73px;
    }
    .result-title{
        padding-left: 15px;
    }
    .result{
        padding-left: 53px;
    }
    #calc-result{
        padding-left: 15px;
    }
    #calc-result-row{
        padding-left: 41px;
        padding-right: 41px;
    }
}

